*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg, black, crimson);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.btn{
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: #323232;
    border: none;
    color: #fff;
    margin: 3px;
}
.btn:hover{
    background-color: #000;
}
#igual{
    height: 106px;
}
#zero{
    width: 106px;
}
#resultado{
    width: 207px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    font-size: 25px;
    text-align: right;
    color: #000;

}
